/* inicio de section promos.html */

.caja__promos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2%;

    & .contenedor__promos{
        margin-top: 20px;
        margin-left: 2%;
        margin-right: 2%;

        & .info__promo{
            color: white;
            position: absolute;
            text-align: center;
            opacity: 0;
            font-family: "Lato", sans-serif;
            font-style: oblique;
            background-color: rgba(75, 11, 148, 0.555);
            transition-duration: 1s;
            padding-top: 5em;
        }
        & .info__promo:hover{
            opacity: 1;
        }

        & .nombre__promo{
            color: white;
            font-family: "Shippori Antique", sans-serif;
            font-size: 1.2rem;
            padding-top: 20px;
            text-align: center;
        }
    }
}
/* cierre de section promos.html */
/*----------------------------- */