/* inicio de section promos.html */
.PromoImg{ 
    width: 90%;
    height: 750px;
    margin: auto;
    display: flex;
    box-shadow: 10px 10px;
} 
.PromoText{
    color: rgb(44, 1, 44) ;
    background: rgb(105, 2, 105) ;
    font-size: 23.5px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 42.5%;
    margin-right: 42.5%;
}
/* cierre de section promos.html */
/*----------------------------- */