/* inicio de section nosotros.hmtl */
.contenedor__CajaNosotros{    
    margin-bottom: 1.5em;
    & .CajaQuienesSomos{
        & .QuienesSomos{
            background-color: rgb(35, 26, 46);
            border: none;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: rgb(125, 16, 175);
            font-size: 1em;
            opacity: 0.8;
        }
    }
    

    & .CajaTextDueños{
        & .TextDueños{
            background-color: rgb(35, 26, 46);
            border: none;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: rgb(125, 16, 175);
            opacity: 0.8;
            font-size: 1em;
        }
    }
    & .CajaTiendaImg{
        & .TiendaImg{
            border: none;
        }
    } 
}
/* cierre de section nosotros.hmtl */
/*----------------------------- */